/********************/
/*      Colors      */
/********************/
:root {
  --bg-color: ghostwhite;
  --text-color: black;
  --btn-color: #E8EBF7;
  --hover-color: #ACBED8;
  --select-color: #D78521;
  --border-color: rgba(1, 1, 1, 0.2);
  --unused-color: #DE1A1A;
}

/********************/
/*       Font       */
/********************/
@font-face {
  font-family: 'AppleRegular';
  src: local('SF-Pro-Text-Regular'),
    url('./assets/fonts/SF-Pro-Text-Regular.otf');
}
@font-face {
  font-family: 'AppleSemibold';
  src: local('SF-Pro-Text-Semibold'),
    url('./assets/fonts/SF-Pro-Text-Semibold.otf');
}

/********************/
/*  General Styles  */
/********************/
html {
  /* Black to show which regions will not be displayed on Pi */
  background-color: black;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  user-select: none;
  font-size: 20px;
  min-width: 800px;
  max-width: 800px;
  min-height: 480px;
  max-height: 480px;
}
div .content {
  font-family: 'AppleRegular';
  width: 600px;
  height: 400px;
  margin: auto auto;
  padding-top: 20px;
  text-align: center;
}
.title {
  font-family: 'AppleSemibold';
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
}
h2 {
  font-family: 'AppleSemibold';
  margin: 0px;
  margin-bottom: 20px;
}
.modal {
  font-family: 'AppleRegular';
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: var(--bg-color);
  padding: 10px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(1, 1, 1, 0.5);
}

/********************/
/*   Button Styles  */
/********************/
.btn {
  background-color: var(--btn-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  margin: 5px 5px;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
}
.btn.disabled {
  pointer-events: none;
  opacity: 0.2;
}
.btn:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}
.btn.menu {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.btn.back, .btn.settings {
  width: 60px;
  height: 60px;
  padding: 5px 5px;
  overflow: hidden;
  position: absolute;
}
.btn.small {
  padding: 0px;
  height: 30px;
  line-height: 30px;
  width: 120px;
  display: inline-block;
}
.btn.medium {
  width: 100px;
}
.btn.selected {
  background-color: var(--select-color);
}
.btn#uploadMusic, .btn#submitForm {
  float: left;
  left: 10px;
  margin-top: 0px;
}
.btn#deleteMusic, .btn#closeForm {
  float: right;
  right: 10px;
  margin-top: 0px;
}
.btn#submitForm, .btn#closeForm {
  position: absolute;
  bottom: 10px;
}

/********************/
/*     Settings     */
/********************/
.btn.settings.expanded {
  width: 190px;
}
.settings-menu {
  margin-left: 10px;
  display: inline-block;
}

/********************/
/*       Table      */
/********************/
table {
  margin-left: auto;
  margin-right: auto;
  min-height: 400px;
  max-height: 400px;
}
table tr.header {
  background-color: var(--btn-color);
}
table tr.data {
  text-align: left;
}
table tr.data:hover {
  background-color: var(--hover-color);
}
table tr.data.selected {
  background-color: var(--select-color);
}
.tbody {
  height: 300px;
  width: 600px;
  overflow: auto;
  border: 1px solid var(--border-color);
}

/********************/
/*   Chart Styles   */
/********************/
div .chart {
  height: 300px;
  position: relative;
}

/********************/
/*  Dropdowns/Input */
/********************/
select {
  background-color: var(--btn-color);
  color: var(--text-color);
  font-size: 16px;
  text-align: left;
}
input {
  font-size: 16px;
}
input[type=file] {
  display: none;
}

/********************/
/*    Metronome     */
/********************/
div.metronome {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  width: 160px;
  margin: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 200ms;
}
div.metronome.playing {
  background-color: var(--select-color);
  transition-duration: 200ms;
}
div.metro.bpm {
  background-color: var(--hover-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  margin: 2.5px;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 2.5px;
  width: 60px;
}
div.btn.metro {
  border: 1px solid var(--border-color);  
  padding: 10px;
  height: 50px;
  width: 50px;
}
div.btn.bpm {
  margin: 2.5px;
  padding: 0px;
  height: 30px;
  line-height: 30px;
  width: 30px;
  max-width: 120px;
  display: inline-block;
}
.metronome-playing{
  background-color:#DE1A1A;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  width: 160px;
  margin: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.metronome{
  background-color:azure;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  width: 160px;
  margin: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/********************/
/*      Tuner       */
/********************/
div.tuner-center {
  display: flex;
  width: 200px;
  height: 200px;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  background-color: var(--btn-color);
  vertical-align: middle;
  margin: auto;
  margin-top: 20px;
}
div.tuner-gauge {
  text-align: left;
  width: 400px;
  margin: auto auto;
}
text.tuner-center {
  margin: auto;
}
text.tuner-center .note-name {
  font-size: 60px;
}
text.tuner-center .freq {
  font-size: 18px;
}

/********************/
/*    Recording     */
/********************/
div.countdown {
  padding: 30px;
  font-weight: bold;
  font-size: 128px;
}

/********************/
/*     Slider       */
/********************/
.slider {
  width: 300px;
  height: 40px;
  border-radius: 50%;
}
.slider-track {
  background-color: rgba(1, 1, 1, 0.2);
}
.slider-track.slider-track-0 {
  background-color: var(--hover-color);
}
.slider .slider-track {
  top: 15px;
  height: 10px;
}
.slider-thumb {
  cursor: pointer;
  background-color: var(--btn-color);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  outline: none;
}
.slider-thumb:active {
  background-color: var(--select-color);
}

/********************/
/*    Scrollbar     */
/********************/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--btn-color);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(1, 1, 1, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--hover-color); 
}
::-webkit-scrollbar-corner {
  background: var(--bg-color);
}