/********************/
/*      Colors      */
/********************/
:root {
  font-size: 16px;
  /* These colors get overwritten in Buttons.js */
  --bg-color: #E8EAF6;
  --text-color: black;
  --subtext-color: rgba(1, 1, 1, 0.5);
  --btn-color: #9FA8DA;
  --hover-color: #5C6BC0;
  --select-color: #3949AB;
  --border-color: rgba(1, 1, 1, 0.2);
  --shadow-color: rgba(1, 1, 1, 0.2);
  --delete-color: #FF3131;
  --delete-hover-color: #FF5858;
  --hover-shadow-color: rgba(1, 1, 1, 0.2);
}

/********************/
/*       Font       */
/********************/
@font-face {
  font-family: 'AppleRegular';
  src: local('SF-Pro-Text-Regular'),
    url('./assets/fonts/SF-Pro-Text-Regular.otf');
}
@font-face {
  font-family: 'AppleSemibold';
  src: local('SF-Pro-Text-Semibold'),
    url('./assets/fonts/SF-Pro-Text-Semibold.otf');
}

/********************/
/*  General Styles  */
/********************/
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  user-select: none;
  font-size: 1.2rem;

}
div.content {
  font-family: 'AppleRegular';
  width: 80vw;
  height: 80vh;
  margin: auto auto;
  padding-top: 5vh;
  text-align: center;
}
.title {
  font-family: 'AppleSemibold';
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
}
h2 {
  font-family: 'AppleSemibold';
  margin: 0px;
  margin-bottom: 20px;
}
.modal {
  font-family: 'AppleRegular';
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: var(--bg-color);
  padding: 10px;
  overflow-y: auto;
}
.modal:focus {
  outline: 0;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(1, 1, 1, 0.5);
}
.modal.small {
  top: 25vh;
  left: 25vw;
  right: 25vw;
  bottom: 25vh;
  background-color: var(--bg-color);
  padding: 10px;
}
.modal p {
  margin-top: 0px;
}
h2.error, p.error {
  color: red;
}

/********************/
/*   Button Styles  */
/********************/
.btn {
  background-color: var(--btn-color);
  border-radius: 10px;
  margin: 5px 5px;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  box-shadow: 0px 0px 2px var(--shadow-color);
}
.btn.disabled {
  pointer-events: none;
  opacity: 0.2;
}
.btn:hover {
  cursor: pointer;
  background-color: var(--hover-color);
  box-shadow: 0px 0px 2px 1px var(--hover-shadow-color);
  transition-duration: 200ms;
}
.btn.menu {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.btn.back, .btn.settings {
  width: 60px;
  height: 60px;
  padding: 5px 5px;
  position: absolute;
}
.btn.small {
  padding: 0px;
  height: 30px;
  line-height: 30px;
  width: 120px;
  display: inline-block;
}
.btn.medium {
  width: 100px;
}
.btn.selected {
  background-color: var(--select-color);
}
.btn#uploadMusic, .btn#submitForm {
  float: left;
  left: 10px;
  margin-top: 0px;
}
.btn#deleteMusic, .btn#closeForm {
  float: right;
  right: 10px;
  margin-top: 0px;
}
.btn#submitForm, .btn#closeForm {
  position: absolute;
  bottom: 10px;
}
.btn.delete {
  background-color: var(--delete-color);
}
.btn.delete:hover {
  background-color: var(--delete-hover-color);
}

/********************/
/*     Settings     */
/********************/
.btn.settings.expanded {
  width: 190px;
}
.settings-menu {
  margin-left: 10px;
  display: inline-block;
}
img.corner {
  width: 60px;
}

/********************/
/*       Table      */
/********************/
table {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  max-height: 100%;
  width: 90%;
  box-shadow: 0px 0px 2px var(--shadow-color);
  background-color: var(--bg-color);
}
table tr.header {
  background-color: var(--hover-color);
}
table tr.data {
  text-align: left;
}
table tr.data:hover {
  background-color: var(--hover-color);
}
table tr.data.selected {
  background-color: var(--select-color);
}
.tbody {
  height: 100%;
  width: 100%;
  overflow: auto;
}
tbody {
  width: 100%;
  display: table;
}
th#title {
  width: 50%;
}

/********************/
/*   Chart Styles   */
/********************/
div.chart {
  height: 80%;
  position: relative;
}
div.chart.performance {
  height: 90%;
}

/********************/
/*  Dropdowns/Input */
/********************/
select {
  background-color: var(--btn-color);
  color: var(--text-color);
  font-size: 1rem;
  text-align: left;
}
input {
  font-size: 1rem;
}
input[type=file] {
  display: none;
}

/********************/
/*    Metronome     */
/********************/
div.metronome {
  background-color: var(--bg-color);
  border-radius: 10px;
  margin: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0px 0px 2px var(--shadow-color);
}
div.metro.bpm {
  background-color: var(--btn-color);
  border-radius: 10px;
  margin: 2.5px;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 2.5px;
  width: 60px;
}
div.btn.metro {
  padding: 10px;
  height: 50px;
  width: 50px;
}
div.btn.metro.playing {
  background-color: var(--select-color);
  transition-duration: 200ms;
}
div.btn.bpm {
  margin: 2.5px;
  padding: 0px;
  height: 30px;
  line-height: 30px;
  width: 30px;
  max-width: 120px;
  display: inline-block;
}
div.btn.cb {
  margin: 1.5px;
  padding: 0px;
  height: 11px;
  width: 11px;
  max-width: 120px;
  display: inline-block;
}
div.btn.inv {
  margin: 1.5px;
  padding: 0px;
  height: 11px;
  width: 11px;
  max-width: 120px;
  display: inline-block;
  visibility: hidden;
}
div.btn.cb.off {
  background-color: rgba(1, 1, 1, 0.5);
}
img#metronome {
  width: 50px;
}
div.prog.on, div.prog.off {
  background-color: var(--select-color);
  height: 20px;
  width: 20px;
  line-height: 20px;
  border-radius: 50%;
  display: inline-block;
}
div.prog.off {
  background-color: var(--btn-color);
}

/********************/
/*      Tuner       */
/********************/
div.tuner-center {
  display: flex;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: var(--btn-color);
  box-shadow: 0px 0px 2px var(--shadow-color);
  vertical-align: middle;
  margin: auto;
  margin-top: 20px;
}
div.tuner-gauge {
  text-align: left;
  width: 60vw;
  margin: auto auto;
  box-shadow: 0px 0px 2px var(--shadow-color);
}
text.tuner-center {
  margin: auto;
}
text.tuner-center .note-name {
  font-size: 4rem;
}
text.tuner-center .freq {
  font-size: 1rem;
}

/********************/
/*    Recording     */
/********************/
div.countdown {
  padding: 30px;
  font-weight: bold;
  font-size: 8rem;
}

/********************/
/*     Slider       */
/********************/
.slider {
  width: 300px;
  height: 40px;
  border-radius: 50%;
}
.slider-track {
  background-color: rgba(1, 1, 1, 0.2);
}
.slider-track.slider-track-0 {
  background-color: var(--hover-color);
}
.slider .slider-track {
  top: 15px;
  height: 10px;
}
.slider-thumb {
  cursor: pointer;
  background-color: var(--btn-color);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  outline: none;
}
.slider-thumb:active {
  background-color: var(--select-color);
}

/********************/
/*    Scrollbar     */
/********************/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--btn-color);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(1, 1, 1, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--hover-color); 
}
::-webkit-scrollbar-corner {
  background: var(--bg-color);
}

/********************/
/* Page Transitions */
/********************/
.page {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.page-enter {
  opacity: 0;
  transform: translateY(5%);
}
.page-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 100ms ease-out, transform 100ms ease-out;
}