.cardStack {
  display: flex;
  flex-wrap: wrap;
}

.cardWrapper {
  padding: 1rem;
  flex-basis: calc(50% - 10px); /* 50% width minus 10px for a small gap between items */
  box-sizing: border-box;
  margin: 5px;
  padding: 20px;
  text-align: center;
}
  
.customCard {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  background-color: #f1f1f1;
  padding: 5px;
}
  
.customCard:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
  
.cardTitle {
  font-weight: bold;
  font-size: 1.2rem;
  color: #333;
}
  
.cardSubtitle {
  font-size: 0.9rem;
  color: #777;
}
  
.cardText {
  font-size: 0.9rem;
}
  